ul {
  padding: 0;
  list-style: none;
}
a {
  text-decoration: none;
  color: black;
  outline: none;
}
button {
  outline: none;
}
// __________variables__________
$base-co: #e5ad3e;
$sec-co: #202e31;
// __________variables__________

// __________mixins______________
@mixin flex($dir, $j-content, $a-items, $gap, $wrap) {
  display: flex;
  flex-direction: $dir;
  justify-content: $j-content;
  align-items: $a-items;
  gap: $gap;
  flex-wrap: $wrap;
}
@mixin gridRep($width, $j-content, $a-items, $gap) {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax($width, 1fr));
  justify-content: $dir;
  align-items: $a-items;
  gap: $gap;
}
@mixin gridNoRep($width-1, $width-2, $j-content, $a-items, $gap) {
  display: grid;
  grid-template-columns: $width-1 $width-2;
  justify-content: $dir;
  align-items: $a-items;
  gap: $gap;
}
@mixin breakpoints($point) {
  @if $point == mobile {
    @media (max-width: 767px) {
      @content;
    }
  } @else if $point == small {
    @media (min-width: 768px) and (max-width: 991px) {
      @content;
    }
  } @else if $point == medium {
    @media (min-width: 992px) and (max-width: 1199px) {
      @content;
    }
  } @else if $point == large {
    @media (min-width: 1200px) {
      @content;
    }
  }
}
// __________mixins______________
.home {
  background-image: url(/images/herobg-bf37baa0.jpeg);
  background-size: cover;
  padding: 0rem 0 10rem 0;
  .navbar {
    @include flex(row, space-between, center, 0.5rem, wrap);
    padding: 0rem 4rem;
    position: fixed;
    top: 0;
    background-color: $sec-co;
    z-index: 1;
    img {
      width: 6rem;
    }
    button {
      background-color: $base-co;
      color: $sec-co;
    }
    .links {
      justify-content: center;
      .active-link {
        border-bottom: thin solid $base-co !important;
        color: $base-co;
        outline: none;
      }
      li {
        padding-left: 1rem;
        a {
          color: white;
          padding-bottom: 0.8rem;
          border-bottom: thin solid transparent;
          transition: all 0.4s ease-in-out;
          text-decoration: none;
          &:hover {
            border-bottom: thin solid $base-co;
            color: $base-co;
          }
        }
      }
      .dropdown {
        .dropdown-menu {
          background-color: $sec-co;
          .dropdown-item {
            &:hover {
              background-color: $sec-co;
            }
          }
        }
      }
    }
    .btn {
      background-color: $base-co;
      color: $sec-co;
      &:hover {
        background-color: $sec-co;
        color: $base-co;
      }
      @include breakpoints(mobile) {
        display: none;
      }
    }
  }
  .content {
    display: grid;
    justify-content: center;
    justify-items: center;
    padding-top: 15rem;
    h1 {
      color: white;
      font-size: 50px;
      @include breakpoints(mobile) {
        font-size: 35px;
        text-align: center;
      }
      span {
        color: $base-co;
      }
    }
    p {
      padding-top: 2rem;
      font-size: 25px;
      color: white;
      @include breakpoints(mobile) {
        font-size: 22px;
        text-align: center;
      }
    }
    .btn {
      background-color: $base-co;
      color: $sec-co;
      &:hover {
        background-color: $sec-co;
        color: $base-co;
      }
      span {
        font-weight: 700;
        padding: 10px 20px;
        @include breakpoints(mobile) {
          font-size: 18px;
        }
      }
    }
  }
}

.why {
  background-color: $base-co;
  .why-text {
    width: 50%;
    padding: 5rem;
    @include breakpoints(mobile) {
      width: 100%;
      padding: 2rem;
    }
    h1 {
      @include breakpoints(mobile) {
        font-size: 30px;
      }
    }
    p {
      @include breakpoints(mobile) {
        font-size: 18px;
      }
    }
  }
  img {
    width: 50%;
    padding: 0;
    @include breakpoints(mobile) {
      display: none;
    }
  }
}
.box-style {
  .text {
    display: grid;
    justify-items: center;
    margin: 4rem 0;
    h1 {
      padding-bottom: 2rem;
      span {
        color: $base-co;
      }
    }
    p {
      @include breakpoints(mobile) {
        font-size: 16px;
        text-align: center;
      }
    }
  }
  .cards {
    display: flex;
    justify-content: space-evenly;
    @include breakpoints(mobile) {
      flex-direction: column;
      align-items: center;
    }
    .card {
      width: 20rem;
      border: none;
      box-shadow: 0px 5px rgba(0, 0, 0, 0.1);
      text-align: center;
      @include breakpoints(mobile) {
        margin-bottom: 2rem;
      }
      .card-body {
        display: grid;
        justify-items: center;
        justify-content: center;
        .btn {
          color: $base-co;
          border: 1px solid $base-co;
          &:hover {
            background-color: $sec-co;
            color: $base-co;
          }
        }
      }
    }
  }
  .our {
    margin-top: 4rem;
    .line {
      display: flex;
      @include breakpoints(mobile) {
        flex-direction: column;
        align-items: center;
      }
      .text {
        padding: 3rem;
        text-align: center;
        @include breakpoints(mobile) {
          padding: 5px;
        }
        h1 {
          padding-bottom: 1rem;
          span {
            color: $base-co;
          }
        }
      }
      img {
        padding: 3rem;
        @include breakpoints(mobile) {
          max-width: 100%;
          padding: 5px;
        }
      }
    }
  }
}
.slide {
  background: linear-gradient(
    to left,
    $sec-co 0%,
    $sec-co 70%,
    $base-co 70%,
    $base-co 100%
  );

  .content {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    @include breakpoints(mobile) {
      flex-direction: column;
      text-align: center;
    }
    .text {
      padding: 20px 0px;
      color: white;
      @include breakpoints(mobile) {
        padding: 10px 0;
      }
      h4 {
        @include breakpoints(mobile) {
          font-size: 18px;
        }
      }
      p {
        @include breakpoints(mobile) {
          font-size: 12px;
        }
      }
    }
    .btn {
      padding: 10px;
      margin: 50px 80px;
      border: 1px solid white;
      color: white;
      &:hover {
        background-color: $base-co;
        color: $sec-co;
        border: 1px solid #e5ad3e;
      }
      @include breakpoints(mobile) {
        margin: 0 0 15px 0;
        font-size: 10px;
      }
    }
  }
}
.contact {
  background-color: $base-co;
  margin-top: 5rem;
  display: flex;
  text-align: center;
  height: 20rem;
  position: relative;
  .content {
    padding-top: 5rem;
    p {
      font-weight: bold;
    }
    .btn {
      background-color: $sec-co;
      color: white;
      &:hover {
        background-color: white;
        color: $sec-co;
      }
    }
  }
  .card {
    box-shadow: 0px 5px rgba(0, 0, 0, 0.1);
    background-color: white;
    margin: 1rem 0rem;
    border-radius: 20px;
    width: 70%;
    height: 30rem;
    position: absolute;
    left: 12rem;
    bottom: -25rem;
    @include breakpoints(mobile) {
      width: 100%;
      left: 0;
      height: 47.5rem;
      top: 15rem;
    }
    .text {
      display: grid;
      justify-content: start;
      text-align: start;
      width: 50%;
      padding: 20px;
      line-height: 2;
      @include breakpoints(mobile) {
        width: 100%;
        font-size: 16px;
      }
    }
    .form {
      display: grid;
      justify-content: end;
      text-align: start;
      margin-bottom: 5rem;
      position: absolute;
      top: 35px;
      right: 50px;
      @include breakpoints(mobile) {
        padding: 0;
        top: 350px;
      }
      form {
        width: 20rem;
        @include breakpoints(mobile) {
          display: grid;
        }
        .btn {
          color: white;
          background-color: black;
          padding: 1rem 2rem;
        }
      }
    }
  }
}
.clients {
  .content {
    text-align: center;
    margin-bottom: 5rem;
    span {
      color: $base-co;
    }
  }
  .cards {
    background-color: #f6f6f6;
    display: flex;
    justify-content: space-around;
    padding: 50px 10px 30px 10px;
    @include breakpoints(mobile) {
      flex-direction: column;
      text-align: center;
    }
    .card {
      border-radius: 20px;
      .col-md-4 {
        display: flex;
        align-items: center;
        padding-left: 15px;
        justify-content: center;
        img {
          @include breakpoints(mobile) {
            padding-top: 2rem;
          }
        }
      }
    }
  }
}
.footer {
  background-color: #202e31;
  padding: 1rem 1rem;

  .col-md-4 {
    @include breakpoints(mobile) {
      text-align: center;
    }
    p {
      color: white;
    }
  }
  .col-md-2 {
    display: grid;
    justify-content: space-around;
    margin-top: 3rem;
    @include breakpoints(mobile) {
      text-align: center;
    }
    h4,
    a,
    .email,
    .phone {
      text-decoration: none;
      color: white;
    }
    a {
      &:hover {
        color: $base-co;
      }
    }
  }
}
.copyright {
  background-color: #172224;
  .copy {
    display: flex;
    justify-content: space-between;
    padding: 30px;
    @include breakpoints(mobile) {
      display: grid;
      text-align: center;
      justify-content: center;
    }
    p {
      color: white;
    }
    .change-color {
      color: $base-co;
    }
  }
}
